.navbar {
    background: linear-gradient(130deg, cornflowerblue 10%, navy 100%);
    color: yellow;
    height: 55px;
}

#search-city-button {
    background-color: orange;
    border-color: orange;

}

.city-info {
    background: linear-gradient(130deg, rgb(255, 208, 0) 10%, white 100%);
    color: midnightblue;
    
}




